<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dự báo thời tiết</title>
  
  <!-- Kết nối với file CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
  body {
    background: url("{{ url_for('static', filename='cold.png') }}") no-repeat center center fixed;
    background-size: cover;
  }
</style>
<body>
  <div class="container">
    <h1>🌤️ Dự báo thời tiết</h1>
    <input type="text" id="cityInput" placeholder="Nhập tên thành phố..." />
    <button onclick="getWeather()">Xem thời tiết</button>
    <button onclick="getCurrentLocation()">📍 Theo dõi vị trí hiện tại</button>
    
    <div id="error" class="error"></div>

    <div id="weatherBox" class="weather-box">
      <h2 id="cityName"></h2>
      <img id="weatherIcon" style="display:none;" />
      <p id="temperature"></p>
      <p id="feels_like"></p>
      <p id="humidity"></p>
      <p id="pressure"></p>
      <p id="wind_speed"></p>
      <p id="description"></p>
    </div>

    <h3>Lịch sử tìm kiếm</h3>
    <ul id="historyList"></ul>
  </div>

  <!-- Kết nối JavaScript -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
